<%= form_for(@politician) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :party %>
    <%= f.text_field :party %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
